-- Community Chest Cards
CREATE TABLE IF NOT EXISTS community_chest_cards (
    id SERIAL PRIMARY KEY,
    title VARCHAR(255),
    description TEXT,
    action TEXT
);
TRUNCATE community_chest_cards RESTART IDENTITY;
INSERT INTO community_chest_cards (title, description, action) VALUES ('el seguro de vida', 'te reporta beneficios', 'cobra 100m');
INSERT INTO community_chest_cards (title, description, action) VALUES ('avanza a la salida', 'avanza hasta la salida', 'cobra 200m');
INSERT INTO community_chest_cards (title, description, action) VALUES ('gastos escolares', 'gastos escolares', 'paga 50m');

-- Chance Cards
CREATE TABLE IF NOT EXISTS chance_cards (
    id SERIAL PRIMARY KEY,
    title VARCHAR(255),
    description TEXT,
    action TEXT
);
TRUNCATE chance_cards RESTART IDENTITY;
INSERT INTO chance_cards (title, description, action) VALUES ('multa', 'multa por exceso de velocidad', 'paga 15m');
INSERT INTO chance_cards (title, description, action) VALUES ('reparaciones generales', 'haz reparaciones generales en todas tus propiedades', 'por cada casa, paga 25m, por cada hotel, paga 100m');
INSERT INTO chance_cards (title, description, action) VALUES ('avanza a (avenida aleatoria)', 'avanza a (avenida aleatoria), si pasas por la salida, cobra 200m', 'avanzar a avenida aleatoria, si pasa por la salida, cobra 200m');

-- Properties
CREATE TABLE IF NOT EXISTS properties (
    id TEXT PRIMARY KEY,
    group_id VARCHAR(50),
    name VARCHAR(255),
    price INT,
    rent_base INT,
    rent_color_group INT,
    rent_1_house INT,
    rent_2_house INT,
    rent_3_house INT,
    rent_4_house INT,
    rent_hotel INT,
    house_cost INT,
    hotel_cost INT,
    mortgage_value INT,
    unmortgage_value INT,
    type VARCHAR(50) DEFAULT 'PROPERTY'
);
TRUNCATE properties;
INSERT INTO properties (id, name, type, price, rent_base, rent_color_group, rent_1_house, rent_2_house, rent_3_house, rent_4_house, rent_hotel, house_cost, hotel_cost, mortgage_value, unmortgage_value) VALUES ('1.1.1', 'Av. La Estrella', 'PROPERTY', 60, 2, 4, 10, 2, 3, 4, 150, 50, 50, 30, 33) ON CONFLICT(id) DO NOTHING;
INSERT INTO properties (id, name, type, price, rent_base, rent_color_group, rent_1_house, rent_2_house, rent_3_house, rent_4_house, rent_hotel, house_cost, hotel_cost, mortgage_value, unmortgage_value) VALUES ('1.1.2', 'Av. Jos├® Joaqu├¡n P├®rez', 'PROPERTY', 60, 2, 4, 10, 2, 3, 4, 150, 50, 50, 30, 33) ON CONFLICT(id) DO NOTHING;
INSERT INTO properties (id, name, type, price, rent_base, rent_color_group, rent_1_house, rent_2_house, rent_3_house, rent_4_house, rent_hotel, house_cost, hotel_cost, mortgage_value, unmortgage_value) VALUES ('1.1.3', 'Av. Mapocho', 'PROPERTY', 80, 4, 8, 20, 2, 3, 4, 450, 50, 50, 40, 44) ON CONFLICT(id) DO NOTHING;
